.site{
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: repeat(5,1fr);
	grid-template-areas: 
	"title"
	"masthead"
	"main"
	"sidebar"
	"footer";
    
}
.masthead{
	grid-area: masthead;
	background-color: #b46ae3;
}
.page-title{
	grid-area: title;
	background-color: #51a7fa;
}
.main-content{
	grid-area: main;
	background-color: #70bf40;
}
.sidebar{
	grid-area: sidebar;
	background-color: #f49018;
}
.footer-content{
	grid-area:footer;
	background-color: #0265c0;
}
.site {
	margin: 1em;
}

.masthead,
.page-title,
.main-content,
.sidebar,
.footer-content {
    padding: 1em;
    color: white;

}



@media only screen and (min-width: 600px){
	.site{
		grid-template-columns: 1fr 1fr 1fr;
		grid-template-areas: 
		"title title title"
		"main masthead sidebar"
		"footer footer footer";
	}
}
