* {
    margin:0;
}
html{
    font-size:100%;
}
body{
    font-family: 'Roboto', sans-serif; font-family: 'Niramit', sans-serif;
    font-size:1em;
    margin:50px 75px 50px 75px;
	background-color: #F2C1B6;
	font-family:Arial, Helvetica, sans-serif;
	color:#003840;
}
.bannerbackground{
	height:600px;
	width:100%;
	background-image:url("images/nintendologo222.jpg");
	background-repeat:no-repeat;
	background-size:cover;
	background-color:#cccccc;
	border: solid 5px #F23847;
	margin-bottom:10px;
}
nav{
	background-color:#F23847;
	text-align:center;
	margin-bottom:10px;
}
nav ul{
	list-style: none;
}
nav li{
	display:inline;
}
nav a{
	display:inline-block;
	padding:20px;
	text-decoration:none;
	color:#400711;
}
nav a:hover{
	background-color:#F28888;
	color:#400711;
}
article{
	width:70%;
	float:left;
	height:700px;
	background-color:#F23847;
	text-align:left;
	font-size:15px;
	color:#ffffff;
	padding-left:30px;
	padding-top:40px;
	padding-right:30px;
}
h3{
    font-weight:400;
    font-size:1.5em;
}
#content{
    display:flex;
    flex-direction:column;
}
.content-item{
    padding-left:16px;
    padding-right:16px;
    margin-bottom:32px;
}
#main img{
    width:100%;
}

@media(min-width:768px){


#content{
    flex-direction:row;
}
    #work{
        width:70%;
    }
    #about{
        width:30%;
    }
}