*{

	margin:0;
	padding:0;
	box-sizing: border-box;
}




.bannerbackground{
	height:600px;
	width:100%;
	background-image:url("images/nintendologo222.jpg");
	background-repeat:no-repeat;
	background-size:cover;
	background-color:#cccccc;
	border: solid 5px #F23847;
	margin-bottom:10px;
}
.center-responsive{ 
	display:block;
	max-width:100%; 
	max-height: 100%;
	margin:0 auto;
	padding-top:20px;
	padding-bottom:20px;
	}
nav{
	background-color:#F23847;
	text-align:center;
	margin-bottom:10px;
}
nav ul{
	list-style: none;
}
nav li{
	display:inline;
}
nav a{
	display:inline-block;
	padding:20px;
	text-decoration:none;
	color:#400711;
}
nav a:hover{
	background-color:#F28888;
	color:#400711;
}
article{
	width:70%;
	float:left;
	height:700px;
	background-color:#F23847;
	text-align:left;
	font-size:15px;
	color:#ffffff;
	padding-left:30px;
	padding-top:40px;
	padding-right:30px;
}
aside{
	width:29%;
	float:right;
	height:700px;
	background-color:#F23847;
	text-align:left;
	font-size:20px;
	color:#ffffff;
	padding-left:30px;
	padding-top:25px;
	margin-left:1%;
}
body{
	margin:50px 75px 50px 75px;
	background-color: #F2C1B6;
	font-family:Arial, Helvetica, sans-serif;
	color:#003840;
}




























